.hero {
    height: 65vh;
    width: 100%;
    margin:1rem auto;
    position: relative;
  }
  
  .text {
    background:rgba(255,255,255,0.5);
    position: absolute;
    top:50%;
    left:0;
    padding:1rem;
    transform:translateY(-50%);
    
  }
img {
  max-width: 100%;
}